
<div class="container-fluid">
	<footer>
	  <a href="http://github.com/vaibhavb/wisevoter" class="muted">Built with Node.js, Ruby and Python</a> | in Seattle, WA by <a href="http://www.lib13.com">Lib13</a>.
	  <p class="footer-version">Version {{site.WV.version}}.<p>
	  <div id="google_translate_element"></div>
		  <script type="text/javascript">
					function googleTranslateElementInit() {
					  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'gu,hi,kn,mr,ta', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-8311051-1'}, 'google_translate_element');
					}
			</script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
			<script src="/assets/javascripts/typeahead.bundle.js"></script>
			<script src="/assets/javascripts/handlebars.js"></script>
			<script src="/assets/javascripts/main.js"></script>

			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</footer>
</div>