<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="icon" href="/favicon.ico" type="image/x-icon"/>


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css" media="screen" />
<!-- site specific css -->
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/site.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/pygment_trac.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/compiled/wisevoter.css" media="screen" />

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<meta name="google-translate-customization" content="a9853e26c9ffda5e-f38fa2f3f03ad885-gdb2cb858bf04b645-11"></meta>