<div class="site-title">
	<header>
	  <div class="container">
	  	<h1 class="title">{{ site.title }}</h1>
	  	<nav>
		    <ul class="nav navbar-nav pull-right">
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    	<li>
		    	<a href='http://edit.wisevoter.org/edit/{{page.path}}'>Edit</a></li>
		    </ul>
	    <nav>
	  </div>
	</header>
</div>