---
layout: constituency
title: {{title}}
state: {{state}}
mapimg: {{mapimg}}
wikipedia-url: {{wikipedia}}
date: {{date | default: "2014-01-29"}}

elections: 
  - name: "Lok Sabha 2009"
    candidates: {% for c in candidates %}
    - {{c}} {% endfor %}

---
## Constituency details
{{summary}}

## Election History
{% raw %}{% include constituency_election_history.html %}{% endraw %}

##Reference
{{references}}