---
layout: party
title: {{title}}
description: {{desc}}
mapimg: {{mapimg}}
wikipedia: {{wikipedia}}
date: {{date | default: "2014-01-29"}}
---
## Party details
{{summary}}

## Agenda details
{{agenda}}

## References
{{references}}