
.circular-hidden {
  display: none;
}

.circular {
  border-radius: 50%;
  width: 250px;
  height: 250px; 
  /* width and height can be anything, as long as they're equal */
  background: url('http://placehold.it/250x250') no-repeat;
  background-size: 250px 250px;
}

/* Typography from http://rafaltomal.com/3-examples-of-css-typography-to-use-for-your-blog/ */

/* sidebar profile table */
table.profile {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    margin:5% 5px 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

table.profile th, td {padding:9px 9px 9px; text-align:left; }
  
table.profile th {padding-top:11px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}
  
table.profile td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
 
table.profile tr.odd-row td {background:#f6f6f6;}
  
table.profile td.first, th.first {text-align:left}
  
table.profile td.last {border-right:none;}


.page-header {
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  border-bottom: solid 1px grey;
  margin: 0 0 15px 0;
}

.page-header h1 {
  letter-spacing: -1px;
  font-size: 32px;
  color: #275da1;
  line-height: 1;
  width: 540px;
}

.site-title header {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

.site-title header h1 {
  display: inline;
  letter-spacing: -1px;
  font-size: 36px;
  color: #fff;
  line-height: 1.5;
  width: 540px;
}

nav {
  display: inline;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

#disqus_thread {
  margin: 20px 40px 10px 40px;
}