.navbar {
  min-height: 55px;
  margin-bottom: 20px;
  border-radius: 0px;
  border-bottom: 10px solid #16880e;
  border-top: 10px solid #ff7903;
  background: #ffffff;
}
.navbar a {
  color: #2e408c !important;
}
.main-content {
  margin-top: 70px;
}
.login-container {
  width: 500px;
}
.edit h1 {
  padding-top: 10px;
}
#epiceditor,
#editfrontmatter {
  white-space: pre-wrap;
  border: 1px solid #336699;
  border-top: 5px solid #336699;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  padding: 5px;
  margin-bottom: 10px;
}
#contenttextarea,
#frontmattertextarea {
  display: none;
}
