<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    {% include "head.html" %}
  </head>

  <body>

    <div class="container-fluid">
      {% include "navigation.html" %}
    </div>

    <div class="container">
      <div class="col-md-1"></div>
      <br/>
      <div class="col-md-7 col-sm-7">
        <div class="post-list">
          <h3 class="post-item-title"> {{page.title | title}} </h1>
          <i class="fa fa-pencil"></i> <span class="entry-date">Posted in {{ page.category | capitalize }} • <i class="fa fa-clock-o"></i> {{ page.readtime }}  minutes read • by {{page.author}}</span>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#post" data-toggle="tab">Post</a><li>  
            <li class="pull-right"><a href="#comments" data-toggle="tab">Comments</a><li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="post">
              <div class="profile-content">
                {{ content | raw }}
              </div>
            </div>
            <div class="tab-pane fade" id="comments">
                {% include "comments.html" %}
            </div>
          </div>
        </div>
        
        <div class="col-lg-3">
         <aside id="sidebar">
            <a href="/politicians.html" class="button">
              <small>Review</small>
              Politicians
            </a>
            
            <a href="/parties.html" class="button">
              <small>Research</small>
              Parties
            </a>

            <a href="/constituencies.html" class="button">
              <small>Learn About</small>
              Constituencies
            </a>          
          </aside>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    {% include "footer.html" %}
  {% include "analytics-google.html" %}
  </body>
</html>