<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    {% include "head.html" %}
  </head>

  <body>

    <div class="container-fluid">
      {% include "navigation.html" %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title | title}} </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div class="articles-content">
            {{ content | raw }}
          </div>
          <br/><br/>
          {% if page.comments != false %}
            {% include "comments.html" %}
          {% endif %}
        </div>  
        
        <div class="col-lg-3">
         <aside id="sidebar">
            <a href="/politicians.html" class="button">
              <small>Review</small>
              Politicians
            </a>
            
            <a href="/parties.html" class="button">
              <small>Research</small>
              Parties
            </a>

            <a href="/constituencies.html" class="button">
              <small>Learn About</small>
              Constituencies
            </a>          
          </aside>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    {% include "footer.html" %}
  {% include "analytics-google.html" %}
  </body>
</html>