<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    {% include head-bootstrap.html %}
  </head>

  <body>

    <div class="container">
      {% include navigation.html %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title}} </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="main-content" class="col-lg-8">
          {{ content }}
          
          <br/><br/>
          {% include comments.html %}
        </div>  
        
        <div class="col-lg-4">
        <div>
          <a href="/politicians.html" class="button">
            <small>Review</small>
            Politicians
          </a>
          
          <a href="https://bit.ly/wv-tables" class="button">
            <small>Visualize</small>
            fusion tables
          </a>
          <a href="https://github.com/vaibhavb/wisevoter/" class="button">
            <small>Participate</small>
            On GitHub
          </a>          
        </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  {% include analytics-google.html %}
  </body>
</html>