<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    {% include head.html %}
  </head>

  <body>

    <div class="container-fluid">
      {% include navigation.html %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title}} </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div id="main-content">
            {{ content }}
          </div>
          <br/><br/>
          {% include comments.html %}
        </div>  
        
        <div class="col-lg-3">
         <aside id="sidebar">
            <a href="/politicians.html" class="button">
              <small>Review</small>
              Politicians
            </a>
            
            <a href="https://bit.ly/wv-tables" class="button">
              <small>Visualize</small>
              fusion tables
            </a>
            <a href="https://github.com/vaibhavb/wisevoter/" class="button">
              <small>Participate</small>
              On GitHub
            </a>          
          </aside>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    {% include footer.html %}
  {% include analytics-google.html %}
  </body>
</html>