<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    {% include "head.html" %}
  </head>

  <body>

    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-7">
            <h1>WiseVoter</h1>
            <h2>WiseVoter is a community project to educate voters on their representatives. The current version of the project targets 2014 Indian General elections.</h2>
          </div>
          <div class="col-md-3 col-md-offset-1 pull-right">
            <a href="https://github.com/vaibhavb/wisevoter" class="button"><small>View project on</small>GitHub</a>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div id="search-bar" class="row">
        <!-- TODO: Fix the col anamoly -->
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
          <form class="search-form" onsubmit="return searchSubmit();">
            <div class="input-group">
              <input type="text" class="search-input" placeholder="Search for politicians, parties, articles ..." name="search"></input>
              <div class="search-btn">
                <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="main">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div class="articles-content">
            {{ content | raw }}
          </div>
        </div>  
        
        <div class="col-lg-3">
         <aside id="sidebar">
            <a href="/politicians.html" class="button">
              <small>Review</small>
              Politicians
            </a>
            
            <a href="/parties.html" class="button">
              <small>Research</small>
              Parties
            </a>

            <a href="/constituencies.html" class="button">
              <small>Learn About</small>
              Constituencies
            </a> 

            <a href="/constituencies.html" class="button">
              <small>More About</small>
              WiseVoter
            </a>          
          </aside>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    {% include "footer.html" %}

  {% include "analytics-google.html" %}
  </body>
</html>