<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    {% include "head.html" %}
  </head>

  <body>

    <header>
      <div class="inner">
        <h1>WiseVoter</h1>
        <h2>WiseVoter is a community project to educate voters on their representatives. The current version of the project targets 2014 Indian General elections.</h2>
        <a href="https://github.com/vaibhavb/wisevoter" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div class="container-fluid">
      <div id="search-bar" class="row">
        <!-- TODO: Fix the col anamoly -->
        <div class="col-sm-3 col-md-3"></div>
        <div class="col-sm-6 col-md-6">
          <form class="search-form" onsubmit="searchSubmit()">
            <div class="input-group">
              <input type="text" class="search-input" placeholder="Search for politicians, parties, articles ..." name="search"></input>
              <div class="search-btn">
                <button class="btn btn-default"><span class="fa fa-search"></span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="content-wrapper">
      <div class="inner clearfix-style">
        <section id="main-content">
          {{ content | raw }}
        </section>

        <aside id="sidebar">
          <a href="/politicians.html" class="button">
            <small>Review</small>
            Politicians
          </a>
          <a href="/parties.html" class="button">
            <small>Research</small>
            Parties
          </a>
          <a href="/articles.html" class="button">
            <small>Read</small>
            Articles
          </a> 
        </aside>
      </div>
    </div>

    {% include "footer.html" %}

  {% include "analytics-google.html" %}
  </body>
</html>