<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
    {% include head.html %}
  </head>

  <body>

    <div class="container-fluid">
      {% include navigation.html %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title}} <small>{{page.constituency}}</small> </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div id="profile-content">
            {{ content }}
          </div>
          <br/><br/>
          {% include comments.html %}
        </div>

       <aside class="col-lg-3">
        <div class="profile-circular-hidden">/images/politicians/{{page.photo}}</div>
        <div class="profile-circular"></div>
        <div class="profile-title">{{page.title}}</div>
        <table class="profile">
        <tr><td><i class="fa fa-pencil"></i>Education</td><td>{{page.education}}</td></tr>
          <tr><td><i class="fa fa-truck"></i>Criminal Cases</td><td>{{page.crime-accusation-instances}}</td></tr>
          <tr><td><i class="fa fa-flag"></i>Previous Offices</td><td>{{page.candidature.count}}</td></tr>
          <tr><td><i class="fa fa-home"></i>State</td><td>{{page.state}}</td></tr>
          <tr><td><i class="fa fa-credit-card"></i>Party</td><td>{{page.party}}</td></tr>
          <tr><td><i class="fa fa-female"></i>Sex</td><td>{{page.sex}}</td></tr>
          <tr><td><i class="fa fa-comment"></i>Email</td><td>{{page.email}}</td></tr>
          <tr><td><i class="fa fa-twitter"></i>Twitter</td><td>{{page.twitter}}</td></tr>
          <tr><td><i class="fa fa-globe"></i>Website</td><td><a href={{page.website}}>Link</a></td></tr>
          <tr><td><i class="fa fa-money"></i>Networth</td><td>{{page.networth}} </td></tr>
        </table>
       </aside>
       <div class="col-lg-1"></div>     
      </div>
    </div>

    {% include footer.html %}
    
  {% include analytics-google.html %}
  </body>

</html>

 
