<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
    {% include head.html %}
  </head>

  <body>


    <div class="container-fluid">
      {% include navigation.html %}
    </div>

    <div class="container">
      <div class="page-header">
        <h1> {{page.title}} <small>{{page.constituency}}</small> </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-7">
          <div id="main-content">
            {{ content }}
          </div>
          <br/><br/>
          {% include comments.html %}
        </div>  

       <aside class="col-lg-3">
        <div class="circular-hidden">/images/politicians/{{page.photo}}</div>
        <div class="circular"></div>
        <table class="profile">
          <tr><th>Profile for</th><th>{{page.title}}</th></tr>
          <tr><td>Education</td><td>{{page.education}}</td></tr>
          <tr><td>Criminal Cases</td><td>{{page.crime-accusation-instances}}</td></tr>
          <tr><td>Constituency</td><td>{{page.constituency}}</td></tr>
          <tr><td>State</td><td>{{page.state}}</td></tr>
          <tr><td>Party</td><td>{{page.party}}</td></tr>
          <tr><td>Sex</td><td>{{page.sex}}</td></tr>
          <tr><td>Email</td><td>{{page.email}}</td></tr>
          <tr><td>Twitter</td><td>{{page.twitter}}</td></tr>
          <tr><td>Website</td><td><a href={{page.website}}>Link</a></td></tr>
          <tr><td>Networth</td><td>Rs. {{page.networth}}</td></tr>
        </table>
       </aside>
       <div class="col-lg-1"></div>     
      </div>
    </div>

    {% include footer.html %}



  {% include analytics-google.html %}
  </body>

</html>

 
