<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    {% include head.html %}
  </head>

  <body>

    <header>
      <div class="inner">
        <h1>WiseVoter</h1>
        <h2>WiseVoter is a public service project to educate voters on their representatives. The current version of the project targets 2014 Indian General elections.</h2>
        <a href="https://github.com/vaibhavb/wisevoter" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <a href="https://github.com/vaibhavb/wisevoter/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/vaibhavb/wisevoter/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <h2>Politicians</h2>
          <ul>
            <li><a href='/politicians/RahulGandhi'>Rahul Gandhi</a></li>
          </ul>

          <p class="repo-owner"><a href="https://github.com/vaibhavb/wisevoter"></a> is maintained by <a href="https://github.com/vaibhavb">vaibhavb</a>.</p>
        </aside>
      </div>
    </div>

    {% include footer.html %}

  {% include analytics-google.html %}
  </body>
</html>