<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
    {% include head-bootstrap.html %}
  </head>

  <body>


    <div class="container">
      {% include navigation.html %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title}} <small>{{page.constituency}}</small> </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {{ content }}
        </div>  


      <div class="col-lg-4">
        <div class="circular-hidden">/images/politicians/{{page.photo}}</div>
        <div class="circular"></div>

        <table class="profile">
          <tr><th>Profile for</th><th>{{page.title}}</th></tr>
          <tr><td>Education</td><td>{{page.education}}</td></tr>
          <tr><td>Criminal Cases</td><td>{{page.crime-accusation-instances}}</td></tr>
          <tr><td>Constituency</td><td>{{page.constituency}}</td></tr>
          <tr><td>State</td><td>{{page.state}}</td></tr>
          <tr><td>Party</td><td>{{page.party}}</td></tr>
          <tr><td>Sex</td><td>{{page.sex}}</td></tr>
          <tr><td>Email</td><td>{{page.email}}</td></tr>
          <tr><td>Twitter</td><td>{{page.twitter}}</td></tr>
          <tr><td>Website</td><td>{{page.website}}</td></tr>
          <tr><td>Networth</td><td>Rs. {{page.networth}}</td></tr>
        </table>

      </div>
      
      <br/><br/>
      {% include comments.html %}
      </div>
    </div>

    {% include footer.html %}



  {% include analytics-google.html %}
  </body>

</html>

 
