<!DOCTYPE html>
<html>
  <head>
    <title> {{page.title}} </title>
    {% include head-bootstrap.html %}
  </head>

  <body>


    <div class="container">
      {% include navigation.html %}
    </div>

    <div class="container">
      <br/>
      <div class="page-header">
        <h1> {{page.title}} <small>{{page.constituency}}</small> </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          {{ content }}
        </div>  


      <div class="col-lg-4">
        <div class="circular-hidden">/images/politicians/{{page.photo}}</div>
        <div class="circular"></div>

        <div class="politician-badge">
          <p> Education: {{page.education}} </p>
          <p> Criminal Cases: {{page.crime-accusation-instances}} </p>
          <p> Constituency: {{page.constituency}} </p>
          <p> State: {{page.state}} </p>
          <p> Party: {{page.party}} </p>
          <p> Sex: {{page.sex}} </p>
          <p> Email: {{page.email}} </p>
          <p> Twitter: {{page.twitter}}</p>
          <p> Website: {{page.website}}</p>
          <p> Networth: Rs. {{page.networth}} </p>
        </div>

      </div>
      
      <br/><br/>
      {% include comments.html %}
      </div>
    </div>

    {% include footer.html %}



  {% include analytics-google.html %}
  </body>

</html>

 
